# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# API Configuration
API_PORT=8000
API_CPU_LIMIT=0.5
API_MEMORY_LIMIT=512M

# Frontend Configuration
API_URL=http://api:8000
PORT=3000
FRONTEND_PORT=3000
FRONTEND_CPU_LIMIT=0.5
FRONTEND_MEMORY_LIMIT=512M

# Worker Configuration
QUEUE_NAME=job
WORKER_CPU_LIMIT=0.5
WORKER_MEMORY_LIMIT=256M